{% extends "accounts/base.html" %}

{% block title %}{{ category.name }} Receipts{% endblock title %}

{% block content %}
<div>
    <h1>Receipts for {{ category.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Purchaser</th>
                <th>Account</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"m/d/y" }}</td>
                    <td>{{ receipt.purchaser.username }}</td>
                    <td>{{ receipt.account.name }}</td>
                    <td>
                        <form method="POST" action="{% url 'delete_receipt' receipt.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
