{% extends "accounts/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div>
    <h1>Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Signup</button>
    </form>
</div>
{% endblock %}
