{% extends "accounts/base.html" %}

{% block title %}Delete Receipt{% endblock title %}

{% block content %}
<main>
    <h1>Delete Receipt</h1>
    <p>Are you sure you want to delete the receipt from {{ receipt.vendor }}?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
        <a href="{% url 'home' %}">Cancel</a>
    </form>
</main>
{% endblock content %}
